.locationLists {
  list-style: none;
  overflow: scroll;
  height: 1000px;
}

.locationLists li {
  margin: auto;
  margin-top: 0.2%;
  list-style: none;
  padding: 0.8%;
}

.privateBarrels {
  background-color: red;
  display: flexbox;
  border: 3px solid black;
  border-radius: 17px;
  margin: auto;
  text-align: center;
  color: white;
  margin: 0.05%;
  max-width: 80%;
}
.boldIt {
  display: flexbox;
  background-color: #2483d0;
  border: 3px solid black;
  border-radius: 17px;
  margin: auto;
  text-align: center;
  color: white;
  margin: 0.05%;
  max-width: 80%;
}

.privateBarrels{
  display: flexbox;
  background-color: teal;
  border: 3px solid black;
  border-radius: 17px;
  margin: auto;
  text-align: center;
  color: white;
  margin: 0.05%;
  max-width: 80%;
}

.covid19Response {
  font-style: italic;
  text-align: left;
  max-width: 35%;
  color:black
}
.email{
  color:black;
  display: inline-box;
  text-align: center;
  flex-wrap: wrap-reverse;
}

.barrelMap {
  margin: auto;
}

.employee{
  text-decoration: underline;
}
