.locationLists {
  list-style: none;
}

.locationLists li {
  list-style: none;
  padding: 0.8%;
}

.boldIt {
  background-color: #2483d0;
  border: 5px solid black;
  border-radius: 17px;
  text-align: center;
  color: white;
}
