table > td {
  display: inline;
}
.colorMe {
  background-color: red;
}

.adminView {
  margin-top: 1.5%;
  max-width: 100%;
}

.editInput {
  width: 98%;
  padding-left: 2%;
}
/* .editButtons {
  max-width: 100%;
  display: inline-flex;
} */

.buttonRow {
  width: 2%;
  display: flexbox;
  text-align: center;
}
.buttonRow > Button {
  display: flexbox;
  flex-direction: row;
  margin: auto;
}

.checkBox {
  display: flexbox;
  flex-direction: row;
  margin: auto;
  width: 2%;
}

.wishlistItem {
  height: auto;
  max-width: 100%;
  padding-left: 2%;
}

/* .insertItem {
  height: 50%;
} */

.wishListAdminTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.wishListAdminTable td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.addItemInput {
  height: 150%;
  width: 98%;
  font-size: large;
  padding-top: 1%;
  padding-left: 1%;
  justify-content: center;
  text-align: center;
}
