.priorityHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 2%;
  font-style: italic;
  font-weight: bolder;
  text-align: left;
  
}

#highPriority {
  text-align: left;
  display: inline-block;
}

.highPriorityItems {
  background-color: red; 
  max-width: 50%;
  /* border: 10px solid black; */
  margin: 0.08%;
  border-radius: 17px;
  color:white;
  box-shadow: black 10px;
}
#wishListHeader {
  text-align: center;
  font-weight: bolder;
  /* padding-top: -10%;
  padding-bottom: 2%;
  padding-left: 1%; */
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sentimentalMessage {
  text-align: center;
  /* display: center; */
  float: center;
  margin: 0.08%;
  /* border: 10px solid black; */
  max-width: 50%;
  /* box-shadow: black 10px; */
  font-size: medium;
  font-style: italic;
}

.regularItems {
  display: inline-box;
  float: right;
  text-align: right;
  padding-right: 10%;
  max-width: 50%;
  border-radius: 17px;
  background-color: #2483d0;
  /* border: 10px solid black; */
  margin-top: 2%;
  color:white;
  shape-outside: circle(50%); /* content will flow around the circle*/
}

.buttons {
  display: inline-box;
  text-align: center;
  flex-wrap: wrap-reverse;
}

img{
  border-radius: 50%;
} 
