.paper {
  display: 'flex';
  flex-wrap: 'wrap';
  margin-left: 10%;
  margin-top: 10px;
  padding-bottom: 20px;
  width: 80%;
  height: 50%;
}
.main {
  text-align: center;
  padding-top: 2%;
  padding-left: 5%;
}
ul {
  line-height: 1.8em !important;
}

@media print {
  @page { 
    size: landscape;    
  }  
}

.logo {  
  text-align: center;
}

.app-button {
  background-color: rgb(54, 108, 217) !important;
  color: rgb(255, 255, 255) !important;
  width: 150px !important;
  height: 35px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media only screen and (max-width: 600px) {
  .app-link {  
    background: none!important;
    border: none;
    padding: 0!important;  
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #3f51b5 !important;
    text-decoration: underline !important;
    cursor: pointer;
    width: auto !important;
    margin-top: 10px !important;
  }
}

