#wrapper {
  width: 100%;
  text-align: center;
  justify-self: center;
  padding-top: 2%;
}

.barrelTable {
  padding: 1.2%;

  /* border: 2px solid black; */
  max-width: 100%;
  margin: auto;
}

.barrelTable th {
  background-color: lightblue;
  margin: auto;
  display: inline-flex;
}

.barrelTable th,
td {
  max-width: 100%;
  border: 1.5px solid darkgray;
}

.barrelTable thead > tr {
  width: auto;
  position: relative;
  display: block;
}

.barrelTable tbody {
  display: block;
  height: 500px;
  overflow: auto;
}
