#wrapper {
  width: 100%;
  text-align: center;
  justify-self: center;
}

table {
  border: 2px solid black;
  max-width: 100%;
}

th,
td {
  max-width: 100%;
  border: 1.5px solid darkgray;
}

thead > tr {
  width: auto;
  position: relative;
  display: block;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}
