#wrapper {
  width: 100%;
  text-align: center;
  justify-self: center;
  padding-top: 2%;
}

.barrelTable {
  padding: 1.2%;
  width: 100%;
  max-width: 100%;
  /* margin: auto; */
}

.barrelTable th {
  justify-self: center;
  background-color: lightblue;
  display: inline-flex;
  text-align: center;
}

.barrelTable th,
td {
  max-width: 100%;
  border: 1.5px solid darkgray;
}

.barrelTable thead > tr {
  width: 100%;
  align-self: start;
  text-align: center;
  justify-self: center;
  position: relative;
}

.barrelTable tbody {
  display: inline-block;
  height: 400px;
  overflow: auto;
}

.deleteRow {
  background-color: darkblue;
}

.coolTableTr {
  display: inline-block;
}

.barrelItem td {
  object-fit: contain;
}
