.map {
  display: flex;
  margin: auto;
  margin-top: 2%;
}
/* 
.mapContainer {
  object-fit: fill;
} */
.maperoo {
  width: 80%;
  justify-content: center;
  height: 500px;
}

.mapImage {
  margin: auto;

  padding: 2%;
}
