/* .addBarrels {
  margin: 0 auto;
  height: 100%;
  align-content: center;
}

.addBarrels input {
  display: inline-block;
  padding: 0%;
}

.addBarrelInput {
  display: inline-flexbox;
  flex-wrap: wrap-reverse;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 1%;
}

.addBarrelButton {
  float: right;
} */




#theSubmitButtonForCarolyn {
  background-color: plum;
  margin-bottom: 2%;
}



